* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #067706;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header * {
  margin: 5px;
  color: white;
}
header .container-izquierda {
  display: flex;
  align-items: center;
  margin: 0;
}
@media (max-width: 1200px) {
  header .container-izquierda {
    flex-direction: column;
    align-items: center;
  }
}
header .container-izquierda .logo {
  width: 70px;
  height: 70px;
}
@media (max-width: 800px) {
  header .container-izquierda .logo {
    width: 30px;
    height: 30px;
  }
}
header .container-izquierda h1 {
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 800px) {
  header .container-izquierda h1 {
    font-size: 1.5rem;
  }
}
header .container-izquierda nav {
  margin: 0;
}
header .container-izquierda nav ul {
  display: flex;
}
@media (max-width: 800px) {
  header .container-izquierda nav ul {
    flex-direction: column;
    align-items: center;
  }
}
header .container-izquierda nav ul li {
  list-style: none;
}
header .container-izquierda nav ul li a {
  text-decoration: none;
}
header .container-derecha {
  display: flex;
  align-items: center;
  margin: 10px;
}
header .container-derecha #buscador {
  padding: 13px;
  border: none;
  border-radius: 5px;
}
header .container-derecha button {
  background-color: #444;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .container {
  margin: 0 auto;
  text-align: center;
}
body .container img {
  width: 100%;
}
body .container .productos {
  align-items: center;
  display: grid;
  text-align: center;
  gap: 20px;
  grid-template-areas: "1p 2p 3p" "4p 5p 6p";
}
@media (max-width: 1200px) {
  body .container .productos {
    grid-template-areas: "1p 2p" "3p 4p" "5p 6p";
  }
}
@media (max-width: 800px) {
  body .container .productos {
    grid-template-areas: "1p" "2p" "3p" "4p" "5p" "6p";
  }
}
body .container .productos .p1 {
  grid-area: 1p;
}
body .container .productos .p2 {
  grid-area: 2p;
}
body .container .productos .p3 {
  grid-area: 3p;
}
body .container .productos .p4 {
  grid-area: 4p;
}
body .container .productos .p5 {
  grid-area: 5p;
}
body .container .productos .p6 {
  grid-area: 6p;
}
body .container .productos .producto {
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #444 solid 1px;
  border-radius: 15px;
  padding: 10px;
}
body .container .productos .producto img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 10px;
}
body .container .productos .producto .eliminar {
  background-color: #d30000;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
}
body .container .productos .producto button {
  background-color: #067706;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
body footer {
  background-color: #067706;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: auto;
}
body footer img {
  width: 50px;
  height: 50px;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 10%;
  width: 50%;
  padding: 50px;
  border-radius: 25px;
  background-color: #a6f3ac;
}
#login input {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
#login button {
  background-color: #067706;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.consejos {
  display: grid;
  gap: 20px;
  grid-template-areas: "1c 2c 3c" "4c 5c 6c";
}
@media (max-width: 1200px) {
  .consejos {
    grid-template-areas: "1p 2p" "3p 4p" "5p 6p";
  }
}
@media (max-width: 800px) {
  .consejos {
    grid-template-areas: "1p" "2p" "3p" "4p" "5p" "6p";
  }
}
.consejos .c1 {
  grid-area: 1c;
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #444 solid 1px;
  border-radius: 15px;
  padding: 10px;
  background-color: #a6f3ac;
}
.consejos .c2 {
  grid-area: 2c;
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #444 solid 1px;
  border-radius: 15px;
  padding: 10px;
  background-color: #a6f3ac;
}
.consejos .c3 {
  grid-area: 3c;
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #444 solid 1px;
  border-radius: 15px;
  padding: 10px;
  background-color: #a6f3ac;
}
.consejos .c4 {
  grid-area: 4c;
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #444 solid 1px;
  border-radius: 15px;
  padding: 10px;
  background-color: #a6f3ac;
}
.consejos .c5 {
  grid-area: 5c;
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #444 solid 1px;
  border-radius: 15px;
  padding: 10px;
  background-color: #a6f3ac;
}
.consejos .c6 {
  grid-area: 6c;
  display: flex;
  width: 350px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: #444 solid 1px;
  border-radius: 15px;
  padding: 10px;
  background-color: #a6f3ac;
}

.pagar {
  background-color: #067706;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 15px;
}
.pagar a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=estilos.css.map */