@import "variables.scss";
@import "_mixins.scss";
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: map-get($color, verde);
    
    display: flex;
    justify-content: space-between;

    @include respond-to(tablet) {
        flex-direction: column;
        align-items: center;
    }

    * {
        margin: 5px;
        color: white;
    }

    .container-izquierda {
        display: flex;
        align-items: center;
        margin: 0;
        @include respond-to(tablet) {
        flex-direction: column;
        align-items: center;
    }
        .logo {
            width: 70px;
            height: 70px;
            @include respond-to(phone) {
                width: 30px;
                height: 30px;
            }
        }

        h1 {
            font-size: 2rem;
            font-weight: 400;
            @include respond-to(phone) {
                font-size: 1.5rem;
            }
        }

        nav {
            margin: 0;

            ul {
                display: flex;
                @include respond-to(phone) {
                    flex-direction: column;
                    align-items: center;
                }
                li {
                    list-style: none;

                    a {
                        text-decoration: none;

                    }
                }
            }
        }
    }
    .container-derecha {
        display: flex;
        align-items: center;
        margin: 10px;
        #buscador{
            padding: 13px;
            border: none;
            border-radius: 5px;
        }
        button{
            background-color: #444;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }
    }
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Asegura que el body ocupe al menos toda la altura del viewport
    .container{
        margin: 0 auto;
        text-align: center;
        img{
            width: 100%; 
        }
        .productos{
            align-items: center;
            display: grid;
            text-align: center;
            gap: 20px;
            grid-template-areas: "1p 2p 3p"
                                 "4p 5p 6p";
            @include respond-to(tablet) {
                grid-template-areas: "1p 2p"
                                     "3p 4p"
                                     "5p 6p";
            }
            @include respond-to(phone) {
                grid-template-areas: "1p"
                                     "2p"
                                     "3p"
                                     "4p"
                                     "5p"
                                     "6p";
            }
            .p1{
                grid-area: 1p;
            }
            .p2{
                grid-area: 2p;
            }
            .p3{
                grid-area: 3p;
            }
            .p4{
                grid-area: 4p;
            }
            .p5{
                grid-area: 5p;
            }
            .p6{
                grid-area: 6p;
            } .producto {
                display: flex;
                width: 350px;
                margin: 0 auto;
                flex-direction: column;
                align-items: center;
                text-align: center;
                border: #444 solid 1px;
                border-radius: 15px;
                padding: 10px;
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 5px;
                    margin: 10px;
                } 
                .eliminar{
                    background-color: map-get($color, rojo);
                    color: white;
                    padding: 10px;
                    border: 0;
                    border-radius: 5px;
                    margin-top: 10px;
                }
                button{
                    background-color: map-get($color, verde);
                    color: white;
                    padding: 10px;
                    border: 0;
                    border-radius: 5px;
                }
            }
        }
    }
    footer{
        background-color: map-get($color, verde);
        color: white;
        text-align: center;
        padding: 25px;
        margin-top: auto;

        img{
            width: 50px;
            height: 50px;
        }
    }
}
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    padding: 50px;
    border-radius: 25px;
    background-color: #a6f3ac;
    input{
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        width: 70%;
    }
    button{
        background-color: map-get($color, verde);
        color: white;
        padding: 10px;
        border: 0;
        border-radius: 5px;
    }
}
.consejos{
    display: grid;
    gap: 20px;
    grid-template-areas: "1c 2c 3c"
                         "4c 5c 6c";
    @include respond-to(tablet) {
        grid-template-areas: "1p 2p"
                             "3p 4p"
                             "5p 6p";
    }
    @include respond-to(phone) {
        grid-template-areas: "1p"
                             "2p"
                             "3p"
                             "4p"
                             "5p"
                             "6p";
    }
    .c1{
        grid-area: 1c;
        display: flex;
        width: 350px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: #444 solid 1px;
        border-radius: 15px;
        padding: 10px;
        background-color: #a6f3ac;
    }
    .c2{
        grid-area: 2c;
        display: flex;
        width: 350px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: #444 solid 1px;
        border-radius: 15px;
        padding: 10px;
        background-color: #a6f3ac;
    }
    .c3{
        grid-area: 3c;
        display: flex;
        width: 350px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: #444 solid 1px;
        border-radius: 15px;
        padding: 10px;
        background-color: #a6f3ac;
    }
    .c4{
        grid-area: 4c;
        display: flex;
        width: 350px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: #444 solid 1px;
        border-radius: 15px;
        padding: 10px;
        background-color: #a6f3ac;
    }
    .c5{
        grid-area: 5c;
        display: flex;
        width: 350px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: #444 solid 1px;
        border-radius: 15px;
        padding: 10px;
        background-color: #a6f3ac;
    }
    .c6{
        grid-area: 6c;
        display: flex;
        width: 350px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: #444 solid 1px;
        border-radius: 15px;
        padding: 10px;
        background-color: #a6f3ac;
    }
}
.pagar{
    background-color: map-get($color, verde);
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 15px;

    a{
        color: white;
        text-decoration: none;
    }
}